.fondo {
    --background: linear-gradient(to right, #064e3b, #022c22);
}

.titulo {
    font-size: 35px;
    margin-top: 20px;
    margin-bottom: -20px;
    margin-left: 20px;
    color: #ffffff;
}

.nombre {
    font-size: 35px;
    color: #34d399;
    font-weight: bold;
    margin: 0;
    margin-left: 20px; 
}

.logo {
    width: 140px;
}

.container-platos {
    width: 100%;
    height: auto;
    padding-bottom: 30px;
    margin-top: -25px;

    h5 {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }
}

.platos-cotizados {
    --swiper-pagination-bullet-inactive-color: #a7f3d0;
    --swiper-pagination-color: #10b981;
    width: 100%;
    height: 35rem;
    margin-top: -25px;

    .texto {
        color: #064e3b;
        font-weight: bold;
    }

    swiper-slide {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    ion-card {
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 490px; 
        display: flex;
        flex-direction: column;
        background: radial-gradient(circle, #ffffff, #e6f4ea);

        img {
            height: 50%;
            object-fit: cover;
        }
        
        ion-card-footer {
            margin-top: auto;
            text-align: center;
        }
    }
}

.boton-accion {
    width: 80%;
    height: 45px;
    margin-bottom: 20px;
    color: #ffffff;
    background-color: #064e3b;
    text-transform: uppercase;
    font-weight: bold;
    
    .color-inicio {
        color: #34d399;
    }
}

.espacio {
    margin-left: 8px;
}

.oferta-semana {
    margin-top: -40px;

    h5 {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }
    
    ion-card {
        background: radial-gradient(circle, #ffffff, #e6f4ea);
        display: flex;
        flex-direction: column;

        .btn-center {
            text-align: center;
        }
    }

    .texto {
        color: #064e3b;
        font-weight: bold;
    }
}

.ubicacion {
    margin-top: 20px;

    h5 {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }

    .texto {
        color: #064e3b;
        font-weight: bold;
    }
    
    ion-card {
        background: radial-gradient(circle, #ffffff, #e6f4ea);
        display: flex;
        flex-direction: column;

        .btn-center {
            text-align: center;
        }
    }
}

.clientes {
    margin-top: 35px;

    h5 {
        margin-left: 20px;
        margin-top: 20px;
        font-size: 23px;
        color: #ffffff;
        font-weight: bold;
    }

    .texto {
        color: #064e3b;
        font-weight: bold;
    }
    
    ion-card {
        background: radial-gradient(circle, #ffffff, #e6f4ea);

        .icono {
            width: 50px;
            border-radius: 100px;
            height: 50px;
            object-fit: cover;
        }

        ion-item {
            --background: transparent;
        }
    }
}