<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Propiedades Guardadas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo-guardados ion-padding">

  @if (favoritos.length > 0) {
    <div>
      @for (item of favoritos; track item.id) {
        <ion-card class="card-propiedad">
          <ion-item lines="none" class="item-header">
            <ion-avatar slot="start" class="avatar-propiedad">
              <img [src]="item.imagen" alt="Logo HouseGreen" />
            </ion-avatar>
            <ion-label class="info-titulo">
              <h2>{{ item.titulo }}</h2>
              <p><ion-icon name="location-outline"></ion-icon> {{ item.comuna }}</p>
            </ion-label>
            <ion-button fill="clear" color="danger" slot="end" (click)="eliminarFavorito(item.id)">
              <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
            </ion-button>
          </ion-item>

          <ion-card-content class="contenido-card">
            <div class="detalles-remate">
              <div>
                <span class="label-detalle">Mínimo:</span>
                <strong class="monto">${{ item.precioMinimo | number:'1.0-0' }} CLP</strong>
              </div>
              <div class="ion-text-end">
                <span class="label-detalle">Fecha:</span>
                <strong class="fecha">{{ item.fechaRemate }}</strong>
              </div>
            </div>

            <ion-button expand="block" color="success" class="boton-detalles" [routerLink]="['/detalle-propiedad', item.id]">
              VER DETALLES
            </ion-button>
          </ion-card-content>
        </ion-card>
      }
    </div>
  } @else {
    <div class="estado-vacio ion-text-center">
      <ion-icon name="bookmark-outline"></ion-icon>
      <h3>No tienes propiedades guardadas</h3>
      <p>Explora el catálogo y guarda los remates de tu interés.</p>
      <ion-button color="success" class="ion-margin-top" [routerLink]="['/catalogo-propiedades']">
        Ir al Catálogo
      </ion-button>
    </div>
  }

</ion-content>