<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Catálogo de Remates</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo-catalogo ion-padding">

  <div class="encabezado-seccion ion-text-center">
    <h2>Oportunidades Disponibles</h2>
    <p>Explora y evalúa las mejores opciones de remate.</p>
  </div>

  <div class="lista-propiedades">
    @for (item of propiedades; track item.id) {
      <ion-card class="card-propiedad">
        <ion-item lines="none" class="item-header">
          <ion-avatar slot="start" class="avatar-propiedad">
            <img [src]="item.imagen" alt="HouseGreen" />
          </ion-avatar>
          <ion-label class="info-titulo">
            <h2>{{ item.titulo }}</h2>
            <p><ion-icon name="location-outline"></ion-icon> {{ item.comuna }}</p>
          </ion-label>
          <ion-badge color="success" slot="end" class="badge-tipo">{{ item.tipo }}</ion-badge>
        </ion-item>

        <ion-card-content class="contenido-card">
          <div class="detalles-remate">
            <span class="label-detalle">Precio Mínimo:</span>
            <strong class="monto">{{ formatearMoneda(item.precio) }} CLP</strong>
          </div>

          <ion-button 
            expand="block" 
            color="success" 
            class="boton-detalles"
            [routerLink]="['/detalle-propiedad', item.id]">
            VER DETALLES
          </ion-button>
        </ion-card-content>
      </ion-card>
    }
  </div>

</ion-content>