<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa de Propiedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo-mapa">

  <div class="contenedor-mapa-placeholder ion-text-center">
    <ion-icon name="map-outline" class="icono-mapa"></ion-icon>
    <h3>Visualización de Mapa</h3>
    <p>Place holder para el mapa interactivo</p>
  </div>

  <div class="lista-marcadores ion-padding">
    <h4>Propiedades Geolocalizadas</h4>
    @for (item of propiedadesMapa; track item.id) {
      <ion-item button (click)="verDetalle(item.id)" detail="true" class="item-marcador">
        <ion-icon name="location-sharp" slot="start" color="success"></ion-icon>
        <ion-label>
          <h2>{{ item.titulo }}</h2>
          <p>${{ item.precio }} CLP</p>
        </ion-label>
      </ion-item>
    }
  </div>

</ion-content>