<ion-header class="ion-no-border">
  <ion-toolbar class="header-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title>Mapa de Propiedades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="cuerpo-mapa">

  <!-- Placeholder del Mapa Interactivo -->
  <div class="contenedor-mapa-placeholder ion-text-center">
    <ion-icon name="map-outline" class="icono-mapa"></ion-icon>
    <h3>Visualización de Mapa Interactivo</h3>
    <p>Explora la ubicación geográfica de los remates disponibles.</p>
  </div>

  <!-- Lista de propiedades geolocalizadas -->
  <div class="lista-marcadores ion-padding">
    <h4 class="titulo-seccion">Propiedades Geolocalizadas</h4>

    @for (item of propiedadesMapa; track item.id) {
      <ion-item button (click)="verDetalle(item.id)" detail="true" lines="none" class="item-marcador">
        <ion-icon name="location-sharp" slot="start" class="icono-pin"></ion-icon>
        <ion-label>
          <h2>{{ item.titulo }}</h2>
          <p class="precio-destacado">{{ formatearMoneda(item.precio) }} CLP</p>
        </ion-label>
      </ion-item>
    }
  </div>

</ion-content>